<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>{{activeSurvey?.survey?.question}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="voted" class="row">
            <div class="col">Vielen Dank!</div>
        </div>
        <div class="row" *ngFor="let voteAnswer of activeSurvey?.survey?.answers; let i = index;">
            <div class="col">
                <button mat-raised-button color="primary" type="button" (click)="vote(i)">{{voteAnswer.answer}}</button>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>